:root {
    --cor-principal: #2e7d32;
    --cor-secundaria: #81c784;
    --cor-destaque: #c8e6c9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: var(--cor-principal);
}

nav {
    background-color: var(--cor-secundaria);
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    margin-top: 70px;
    padding: 20px;
    background-color: var(--cor-destaque);
    text-align: center;
}

header img {
    border-radius: 50%;
    margin: 10px 0;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer li {
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
